<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper conquer-light-bg">
      <a href="https://download.conqueros.co/" class="brand-logo"><img src="{{- 'img/logo.png' | relative_url -}}" class="responsive-img circle avatar" alt="ConquerOS"></a>
      <a href="#" data-target="conquer-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="text-uppercase"><a href="https://conqueros.co/">Home</a></li>
        <li class="text-uppercase"><a href="https://wiki.conqueros.co/">Wiki</a></li>
        <li class="text-uppercase"><a href="https://download.conqueros.co/">Download</a></li>
      </ul>
    </div>
  </nav>
</div>

  <ul class="conquer-midlight-bg sidenav" id="conquer-menu">
    <li{% if page.url == site.baseurl %} class="active"{% endif %}><a href="https://conqueros.co/">Home</a></li>
    <li{% if page.url == site.baseurl %} class="active"{% endif %}><a href="https://wiki.conqueros.co/">Wiki</a></li>
    <li{% if page.url == site.baseurl %} class="active"{% endif %}><a href="https://download.conqueros.co/">Download</a></li>
  </ul>
